<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.newha.mapper.UserMapper">
	
	<select id="follow" resultType="int">
		select followUserNo from follow where userNo = #{userNo};
	</select>
	
	<select id="selectUser" resultType="User">
		select * from user where userNo = #{userNo}
	</select>
	
	<select id="selectAllByKeyword" parameterType="String" resultType="User">
		select * from user where name like #{keyword}
	</select>

	<select id="selectId" resultType="int">
		select count(*) from user where id = #{id}
	</select>
	
	<select id="selectName" resultType="int">
		select count(*) from user where name = #{name}
	</select>
	
	<select id="userNo" resultType="int">
		select userNo from user where id = #{id}
	</select>
	
	<insert id="insertTag" parameterType="string">
		insert into join_tag values ( ( select userNo from user where id = #{id} ), #{tag} );
	</insert>
	
	<insert id="insert" parameterType="User">
		insert into user values(null,#{name},#{password},null,#{id},#{platformType})
	</insert>

	<delete id="delete" parameterType="string">
		delete from user where id = #{id}
	</delete>
	
	<select id="selectOne" resultType="User">
		select * from user where id = #{id} and password = #{password}
	</select>
	
	<select id="selectOneById" parameterType="string" resultType="User">
		select * from user where id = #{id}
	</select>

	<update id="update" parameterType="string">
		update user set password = #{password}, thumbnail_path = #{thumbnail_path} where id = #{id};
	</update>
	
	<update id="thumbnailPath" parameterType="String">
		update user set thumbnail_path = #{thumbnail_path} where userNo = #{userNo};
	</update>
	
	<insert id="subscribe" parameterType="string">
		insert into follow values ( ( select userNo from user where id = #{id} ), ( select userNo from user where id = #{id2} ) );
	</insert>
	
	<insert id="subscdelete" parameterType="string">
		delete from follow where userNo = (select userNo from user where id = #{id}) and followUserNo = (select userNo from user where id = #{id2});
	</insert>
	
</mapper>